@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
$text-bold: 700;
$text-normal: 500;
$VeryDarkGrayishBlue: hsl(217,
19%,
35%);
$DesaturatedDarkBlue: hsl(214,
17%,
51%);
$GrayishBlue: hsl(212,
23%,
69%);
$LightGrayishBlue: hsl(210,
46%,
95%);
$border-radius: 1rem;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    background-color: $LightGrayishBlue;
}

main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px transparent;
    width: 720px;
    display: flex;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .img-container {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        flex: 4;
        background-image: url("../images/drawers.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        min-height: 220px;
    }
    .content {
        flex: 7;
        .header {
            color: $VeryDarkGrayishBlue;
            font-weight: $text-bold;
            font-size: 1rem;
            padding: 1.5rem 2.5rem 1rem 2rem;
            letter-spacing: 1px;
        }
        .detail {
            line-height: 22px;
            color: $DesaturatedDarkBlue;
            padding: 0 2.5rem 1rem 2rem;
        }
        .footer {
            display: flex;
            min-height: 72px;
            align-items: center;
            padding: .5rem 2rem .5rem 2rem;

            .footer-left {
                display: flex;
                .avatar {
                    border-radius: 50%;
                    width: 40px;
                }
    
                .name-date {
                    padding-left: 0.75rem;
                    .identity {
                        font-weight: $text-bold;
                        color: $VeryDarkGrayishBlue;
                    }
                    .date {
                        display: block;
                        color: $DesaturatedDarkBlue;
                    }
                }
            }

            .mobile-menu {
                display: none;
            }

            .popover-menu-wrapper {

                margin-left: auto;
                position: relative;

                .popover-menu {
                    position: absolute;
                    bottom: 140%;
                    left: 50%;
                    transform: translate(-50%, -8px);

                    display: flex;
                    opacity: 0;
                    width: 250px;
                    background-color:$VeryDarkGrayishBlue;
                    padding: 1rem 2rem;
                    border-radius: 10px;
                    list-style: none;
                    align-items: center;
                    justify-content:space-around;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                    transition: opacity 0.35s;                
                }

                .popover-menu::before {
                    content:"";
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    transform: translate(-50%, -8px);
                    transition: 1s;

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 15px 16px 0 16px;
                    border-color: $VeryDarkGrayishBlue transparent transparent transparent;
                }

                .popover-menu-active {
                    opacity: 1;
                }

                .shareBtn {
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    width: 33px;
                    height: 33px;
                    background-color: $LightGrayishBlue;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .shareBtn-active {
                    background-color:$VeryDarkGrayishBlue;
                    path {
                        fill: #fff;
                    }
                }
            }

        }
    }
}

.menu-text {
    color: $GrayishBlue;
    letter-spacing: 4px;
}    

@media (max-width: 480px) {
    .card {
        flex-direction: column;
        max-width: 330px;
        min-height: 500px;

        .img-container {
            border-bottom-left-radius: 0;
            border-top-right-radius: $border-radius;
            max-height: 200px;
        }
   

        .content {
            flex: 0;
            padding-bottom: 0;

            .header {
                letter-spacing:normal;
            }
            
            .detail {
                line-height: 23px;
            }

            .footer {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                .mobile-menu{
                    display:none;
                    list-style: none;
                    align-items: center;
                    justify-content:space-around;
                    z-index: 10;
                    li {
                        margin: 0 .5rem;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                .shareBtn-active {
                    background-color:$DesaturatedDarkBlue!important;
                    path {
                        fill: #fff;
                    }
                }
            }
     
        }
        .popover-menu {
            display:none!important;
        }
        .show {
            display: flex!important;
        }
        .hide {
            display: none!important;
        }
        .mobile-menu-active {
            background-color: $VeryDarkGrayishBlue;
        }
    }

}



.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
